<p>
  The current user is: <%= current_user.present? ? current_user.uid : '[none]' %>
</p>

<% if current_user.present? %>
  <% # The sign out route uses a DELETE method to prevent CSRF attacks. %>
  <p>
    <%= form_with(url: destroy_user_session_path, method: "delete") do |form| %>
      <%= form.submit "Log out" %>
    <% end %>
  </p>
<% end %>
