<script src="/openseadragon/openseadragon.min.js"></script>
<div id="test_viewer" style="width: 100vw; height: 100vh; background-color: #000;"></div>
<script>
  OpenSeadragon({
    id: 'test_viewer',
    prefixUrl: '/openseadragon/images/',
    visibilityRatio:    1,
    minZoomLevel:       .25,
    defaultZoomLevel:   .25,
    maxZoomLevel:       2,
    tileSources: ['/iiif/2/<%= @resource.identifier %>/info.json']
  });
</script>
