<!-- script src="/openseadragon/openseadragon.min.js"></script -->
<div id="test_viewer" style="width: 100vw; height: 100vh; background-color: #fff;"></div>
<script>
  var viewer = OpenSeadragon({
    id: 'test_viewer',
    prefixUrl: '/openseadragon/images/',
    showRotationControl: true,
    tileSources: ['/iiif/2/standard/<%= @resource.identifier %>/info.json']
  });
</script>
